.calculator {
    flex-direction: column;
    h1 {
        margin-top: 5rem;
        color: rgb(77, 75, 75);
    }
    .inner-h {
        max-width: 1600px;
        margin: 2rem auto;
        background-color: rgb(233, 233, 233);
        padding: 5rem;
        border-radius: 5px;
        form {
            width: 800px;
            display: flex;
            flex-direction: column;
            font-size: 2rem;
            font-family: metropolis-medium;
            justify-content: space-between;
            color: rgb(77, 75, 75);
            input,
            select {
                width: 250px;
                border: 1px solid rgb(199, 199, 199);
                border-radius: 5px;
                padding: 0 10px;
                font-family: metropolis-medium;
                outline: none;
            }
            button {
                margin-top: 5rem;
                border: 2px solid rgb(119, 0, 255);
                padding: 10px;
                border-radius: 5px;
                color: rgb(119, 0, 255);
                transition: 0.3s;
                font-size: 1.5rem;
                font-family: metropolis-bold;
            }
            button:hover {
                background-color: rgb(119, 0, 255);
                color: white;
            }
        }
        .select {
            display: flex;
            justify-content: space-between;
            margin: 2rem 0;
            p {
                font-family: metropolis-bold;
            }
        }
        .sm {
            font-size: 11px;
            color: Gray;
            font-family: metropolis-medium;
            margin: 5px 0;
        }
        .inner-two {
            text-align: center;
            font-size: 2rem;
            margin: 4rem 1rem 0 1rem;
            p {
                margin: 1rem 0;
                font-family: metropolis-bold;
                color: rgb(45, 62, 85);
            }
        }
    }
}

@media (max-width: 500px) {
    .calculator {
        width: 400px;
        margin: auto;
        overflow-x: hidden;
        .inner-h {
            height:100vh;
            padding: 0;
            width: 400px;
            form {
                width: 400px;
                font-size: 1rem;
                justify-content: center;
                align-items: center;
                input,
                select {
                    height:30px;
                    margin-top:1rem;
                }
                button {
                    margin: 2rem;
                    width: 300px;
                }
                .sm {
                    text-align: center;
                }
            }
            .select {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin:1rem;
            }
            .inner-two{
                margin-top:1rem;
                font-size: 1rem;
            }
        }
    }
}
